django                      # The web framework for perfectionists with deadlines.
djangorestframework         # Toolkit for building Web APIs in Django.
django-cors-headers         # Django app for handling Cross-Origin Resource Sharing (CORS).
djangorestframework-jwt     # JSON Web Token (JWT) support for Django REST Framework.
marshmallow                 # A library for object serialization and deserialization.
gunicorn                    # A WSGI HTTP server for running Django applications in production.
pytest-django               # A testing framework for writing and executing unit tests for Django.
django-celery               # A distributed task queue used for asynchronous processing in Django applications.
django-extensions           # Adds various helpful utilities and commands to Django.
django-htmx                 # Add htmx support to Django.
anyjson
