Flask                   # The core framework for building web applications.
Flask-RESTful           # Provides tools for quickly building REST APIs with Flask.
Flask-SQLAlchemy        # Integrates SQLAlchemy, an SQL toolkit and ORM library, with Flask.
Flask-Migrate           # Helps manage database migrations when using Flask-SQLAlchemy.
Flask-CORS              # Adds Cross-Origin Resource Sharing (CORS) support to Flask applications.
Flask-JWT-Extended      # Adds JSON Web Token (JWT) support to Flask applications for authentication.
Marshmallow             # A library for object serialization and deserialization.
Gunicorn                # A WSGI HTTP server for running Flask applications in production.
Pytest                  # A testing framework for writing and executing unit tests.
Flask-Mail              # For sending email from your Flask application.
Flask-Bcrypt            # Provides password hashing utilities for Flask applications.
Flask-Admin             # A Flask extension that provides an administrative interface for your application.
Flask-SocketIO          # Adds WebSocket support to Flask applications for real-time communication.
Celery                  # A distributed task queue used for asynchronous processing in Flask applications.
SQLAlchemy-Utils        # Provides various utility functions and custom data types for SQLAlchemy.
Flask-Security          # Provides security features such as user authentication, authorization, and password hashing for Flask applications.
Flask-RESTx             # An extension for Flask that adds support for building RESTful APIs with additional features.
Flask-JWT               # Another Flask extension for JSON Web Token (JWT) support.
Flask-RESTPlus          # An extension for Flask that adds support for building RESTful APIs with additional features and improved Swagger documentation.
Flask-Session           # Adds session support to Flask applications.
